// Font Family
$primaryFont: 'Heebo', sans-serif;


// Colors
$white: #fff;
$black: #000;



// Responsive Variables
$desktop-lg: '(min-width: 1800px)';
$desktop: '(min-width: 1600px) and (max-width: 1799.98px)';
$desktop-md: '(min-width: 1400px) and (max-width: 1599.98px)';
$laptop: '(min-width: 1200px) and (max-width: 1399.98px)';
$mini-laptop : '(min-width: 992px) and (max-width: 1199.98px)';
$xl-device: '(min-width: 1200px)';
$lg : '(min-width: 992px) and (max-width: 1199.98px)';
$mdm: '(min-width: 992px)';
$md:'(max-width: 991.98px)';
$xs:'(max-width: 767px)';
$sm: '(max-width: 575px)';


